body {
background-color: #efebe8;
}
@fontface{
  font-family: 'Century Gothic', 'arial', 'sans serif'; 
  src: url(GOTHICC.TTF);
}
header {
border-style: solid;
border-width: medium;
}
.contact-info {
text-align: center;
}
#contact-info {
list-style-type: none;
}
