body {
background-color: #efebe8;
}
@fontface{
  font-family: 'Century Gothic', 'arial', 'sans serif'; 
  src: url(GOTHICC.TTF)
}
header {

}
.contact-info {
text-align: center;
}
#contact-info {
list-style-type: none;
}
