body {
background-color: #efebe8;
}
@fontface{
  font-family: 'Century Gothic', 'arial', 'sans serif'; 
  src: url(GOTHICC.TTF);
}
header {
border-style: solid;
border-width: medium;
border-radius: 25px;
background-color: #7ec0ee;
}
.contact-info {
text-align: center;
}
#contact-info {
list-style-type: none;
}
h2 {
border-style: solid;
border-width: thin;
padding: 15px;
border-radius: 25px;
}
li {
margin: 15px
}
li .contact-info {
margin: 0px;
font-size: 10px;
opacity: 0.75;
}
h3 {
font-weight: bold;
text-decoration: underline;

}
h4 {
padding-left: 15%;

}
